.button{
    background-color: #3563E9;
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #2c51c0;
}
.linear-page{
    background: linear-gradient(90deg, rgba(53,99,233,1) 30%, rgba(255,255,255,1) 30%);

    height: 100vh;
}